bg-image($url)
    background url($url + "@2x.png") no-repeat center/cover
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio:3)
        background url($url + "@3x.png") no-repeat center/cover
		.divide{
			height: 5px;
		}
		*{
			// line-height: 20px
		}
		h4{
			font-family: "MicroSoft YaHei";
			font-weight: 700;
			font-size: 13px;
		}
		.title1{
			padding: 0.6rem 0.2rem;
			background: white;

			.free{
				overflow: hidden
			}
			.scoe{
				font-size 11px;
				// line-height: 11px;
				.join{
					vertical-align: middle;
					// display: inline-block;
					margin-left 20px
				}
			}

			.common-star{
				vertical-align: middle;
				.star-item{
				
				}
			}
				div:nth-child(3){
				overflow: hidden;
			}
			    div:nth-child(3) ul{
				display: flex;
				justify-content: space-between;
				margin-top:0.58rem;
				margin-bottom 0.04rem;
				li{
					flex:1;
					font-size: 11px!important;
					i{
						vertical-align: middle;
						margin-right: 0.05rem;
						display: inline-block;
						width: 0.34rem;
						height: 0.34rem;
						background-repeat:no-repeat;
					}
				}
				li:nth-child(1) i{
					bg-image('../../assets/img/label_01')
				}
				li:nth-child(2) i{
					bg-image('../../assets/img/label_02')
				}
				li:nth-child(3) i{
					bg-image('../../assets/img/label_03')
				}
				li:nth-child(4) i{
					bg-image('../../assets/img/label_05')
				}
			}
			div:nth-child(3) ul li{
				font-size: 14px;
				color: #525252;
			}
			h4{
				float:left
				font-size: 15px;
				color: #3b3b3b;
				vertical-align: middle;
				margin-left 0.1rem
				margin-top -0.04rem

			}
			.free{
				margin-bottom: 0.32rem;
			}
			div:nth-child(1) span{
				float:left
				width: 0.58rem;
				height: 0.32rem;
				bg-image('../../assets/img/title_free')
				vertical-align: middle;

			}
			div:nth-child(2) span:nth-child(2){
				font-size: 11px;
			}
		}
		.pics{
			overflow:hidden;
		}
		.detail {
			padding: 0.6rem 0.2rem;
			background: white;
			.pic{
				width 2.9rem;
				height 2.1rem;
	            float:left;
				border-radius 0.04rem;
				margin-top 0.3rem;
			}
			.pic1{
				background: url('../../assets/img/pic_01.png')  no-repeat center/cover;
			}
			.pic2{
				background: url('../../assets/img/pic_02.png')  no-repeat center/cover;
				margin-left 0.1rem;
			}
			.p1{
				margin: 0.24rem 0 0.2rem 0;
			}
			p{
				color: #525252;
				font-size: 11px;
			}
			h4{
				font-size: 13px;
				color: #3b3b3b;
			}
		}

		.plan div{
			margin-top: 0.6rem;
		}
		.plan p{
			margin-top: 0.3rem;
		}
		.belong{
			padding:0.6rem 0.2rem 2.72rem 0.2rem ;
			background: white;
			h4:nth-child(1){
				margin-bottom: 0.3rem;
			}
			.left{
				float: left;
				overflow: hidden;
				width: 1.3rem;
				background:  url('../../assets/img/touxiang_01.png')  no-repeat center/cover;
				border: 1px solid #dbdbdb;
				border-radius: 50%;
				height: 1.3rem;
			}
			.right{
				overflow: hidden;
				padding: 0 0.2rem;
				margin-left: 0.1rem;
				.common-star{
					vertical-align: middle;
				}
				.word{
					color #000;
					font-size: 11px;
					margin-left 0.2rem;
					vertical-align: middle;
				}
				h4{
					font-size: 15px;
					margin-bottom: 0.14rem;
				}
				div{
					font-size: 13px;
					span:nth-child(2){
						vertical-align: middle;
						display: inline-block
					}
				}
				p{
					margin-top: 0.14rem;
					font-size 12px
					color #525252;
				}
			}
			.common-star {
				span{
					display: inline-block;
					vertical-align: middle;
					width: 0.32rem;
					height: 0.32rem;
					margin-right: 0.06rem;
					// bg-image('../../assets/img/icon_star_sel')
				}
				// i:last-child{
				// 	bg-image('../../assets/img/icon_star_nor')
				// }
			}
		}


