bg-image($url)
    background url($url + "@2x.png")  no-repeat center/cover
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio:3)
        background url($url + "@3x.png")  no-repeat center/cover
.divide:nth-child(1){
	height: 0.1rem;
}

.divide{
	height: 0.02rem;
}
.top{
	height: 1.3rem;
	background: white;
	.left{
		height: 100%;
		width: 1.4rem;
		background: #41cc6e;
		color: white;
		padding-top: 0.24rem;
		overflow:hidden;
		div{
			color white
		}
		div:nth-child(1){
			font-weight: 700;
			font-size: 18px;
		}
		div:nth-child(2){
			font-size: 14px;
		}
	}
}

.top .right{
	overflow: hidden;
	display: flex;
	padding: 0.36rem 0.3rem 0 0.3rem;
	justify-content: space-around;
	height: 100%;
	font-family: 'MicroSoft YaHei';
	font-weight: 600;
	div p,
	div span{
		color: #3b3b3b;
	}
	p{
		font-size: 11px;
		line-height: 0.22rem;
	}
	i{
		width: 0.56rem;
		height: 0.56rem;
		float: left;
		vertical-align: middle;
	}
	div{
		float: left;
		margin-left: 0.1rem;
		font-size: 11px;
		line-height: 12px;
		font-weight: 600;
		padding-top: 0.07rem;
		span{
			line-height: 0.22rem;
		}
	}
	div:nth-child(1) i{
		bg-image('../../assets/img/icon_Praise')
	}
	div:nth-child(2) i{
		bg-image('../../assets/img/icon_Average')
	}
	div:nth-child(3) i{
		bg-image('../../assets/img/icon_Bad-review')
	}
}

.lists{
	padding: 0 0 0.92rem;
	background: white;
	.list{
		margin-bottom: 0.78rem;
		padding:0.56rem 0.2rem 0 0.2rem;
		.star>div{
			overflow:hidden;
			span{
				vertical-align: middle;
			 }
		}
		.pic{
			width: 1.1rem;
			float: left;
			overflow: hidden;
			text-align: center;
			p{
				font-size 11px
			}
		}
		s{
			display: block;
			height: 1.1rem;
			border-radius: 50%;
			margin-bottom: 0.1rem;
		}
		.word{
			overflow: hidden;
			padding: 0.16rem 0 0 0.4rem;
			span,
			p{
				color: #525252;
			}
			span{
				font-size: 13px;
				
				vertical-align: middle;
				display: inline-block;
			}
			p{
				font-size: 12px;
				margin-top: 0.3rem;
			}
			.common-star{
				vertical-align: middle;
				.star-item{
				    display: inline-block;
					width: 0.32rem;
					height: 0.32rem;
					vertical-align: middle;
				 }
			 }
			i{
			
				// background: url('../../assets/img/icon_star_sel@2x.png') round;
			}
		}
		.pic p{
			font-size: 11px;
		}
		.res{
			margin:0.54rem 0.2rem 0 0.2rem;
			// padding-left: 35px;
			padding:0.3rem 0 0.28rem 0.3rem;
			position: relative;
			font-size: 12px;
			color:#525252;
			white-space: nowrap;
			text-overflow: ellipsis;
			// overflow: hidden;
			border-radius 0.2rem;
			background:#f5f5f5;
			i{
				position: absolute;
				top:-0.62rem;
				left:0.3rem;
				border-top-width: 0.32rem;
				border-right-width: 0.15rem;
				border-left-width: 0.15rem
				border-bottom-width: 0.32rem;
				// border-width: 0.4rem;
				border-color transparent;
				border-style: solid;
				border-bottom-color: #f5f5f5;
			}
		}
		

	}
	.list:nth-child(1) s{
		background: url('../../assets/img/touxiang_02.png')  no-repeat center/cover;
		border: 1px solid #dbdbdb;
	}
	.second s{
		background: url('../../assets/img/touxiang_03.png')  no-repeat center/cover;
		border: 1px solid #dbdbdb;
	}
	.last s{
		background: url('../../assets/img/touxiang_04.png')  no-repeat center/cover;
		border: 1px solid #dbdbdb;
		/*background: url('../../../statics/imgs/touxiang_03.png') round;*/
	}
	// 	.list:nth-child(1) .word i:nth-child(5){
	// 	bg-image('../../assets/img/icon_star_nor')
	// 	// background: url('../../assets/img/icon_star_nor@2x.png') round;
	// }
	// 	.list:nth-child(1) .word i:nth-child(5){
	// 	bg-image('../../assets/img/icon_star_nor')
	// 	// background: url('../../assets/img/icon_star_nor@2x.png') round;
	// }
}

.divide {
			background: #eaedff;
		}
     
