.lesson{
    padding: 0.6rem 0.4rem 0;
    background white 
    margin-bottom 1.4rem
    h4{
        font-size 15px
        color #3b3b3b
        font-weight bold
    }
    h5{
        font-size 13px
        color #3b3b3b
        font-weight bold
        margin-top 0.52rem
    }
    span{
        font-size 11px
        color #525252
        margin-top 0.3rem
    }
    p{
        font-size 12px;
        margin-top 0.24rem;
        color:#525252;
    }
    padding-bottom 0.6rem;
}

	

    

